server/.idea
server/.ipynb_checkpoints
server/.mypy_cache
server/**/*/__pycache__
server/.pytest_cache
server/htmlcov
server/dist
server/site
server/.coverage
server/coverage.xml
server/.netlify
server/test.db
server/log.txt
server/Pipfile.lock
server/env3.*
server/env
server/docs_build
server/site_build
server/venv
server/docs.zip
server/archive.zip

# vim temporary files
server/*~
server/.*.sw?
server/.cache


# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?