.popup {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 4px;
  z-index: 9999;
}

.popup.error {
  background-color: #ffdddd;
  color: #d8000c;
}

.popup.success {
  background-color: #ddffdd;
  color: #4f8a10;
}

.popup-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popup-message {
  margin-right: 10px;
}

.close-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
